      <% include ./partials/header.ejs %>
      <!--Main Content-->
      <main class="container">
          <div class="jumbotron">
              <h1 class="display-4">Hello, <%=title%></h1>
              <p class="lead">This is Home page created by Hemrajsinh Varachhia</p>
              <hr class="my-4">
              <p>With great support of Sohel Gangat and Faizan Mukhi.</p>
              <img src="Assets/images/we3.jpeg" alt="My Picture" srcset="" width="300" height="300">
              <% if(title=="Contact"){ %>
              <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>
              <% } %>
            </div>
      </main>
 
 <% include ./partials/footer.ejs %>